<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
    />
    
    <!-- <link rel="stylesheet" href="index.css" /> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Apartment-Housing Rental</title>
  </head>
<body >
<div>
<h1 >Searching for Apartments or Houses</h1>
</div>
<div class="search">
  <form action="/" method = "post" id="form1" class="searcform">

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="zip">Zip</label>
        <input type="text" class="form-control zip" id="zip" placeholder="97201"  maxlength="5" name="zip"  required>
        <div class="text-error"></div>
      </div>
      <div class="form-group col-md-4">
        <label for="city">City</label>
        <input type="text" class="form-control city" id="city" placeholder="Portland" name="city"  required>
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input type="text" class="form-control state" id="state" placeholder="OR"  name="state" maxlength="2" required>
      </div>
     
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="addr">Street Address</label>
        <input type="text" class="form-control addr" id="addr" placeholder="1900 SW 4th AVE" name="addr">
        <small id="addrHelpBlock" class="form-text text-muted">
          Pass an optional address for looking up a specific property. The address should be formatted as street address; Will get ignored if radius is empty
        </small>
      </div>
      <div class="form-group col-md-6">
        <label for="radius">Radius</label>
        <input type="number" class="form-control radius" id="radius" min="10" max="200"  step= "10" name="radius">
        <small id="radiusHelpBlock" class="form-text text-muted">
          Filter listings within this specified number of kilometers. You must provide an address parameters when using a radius search; Will get ignored if address is empty
        </small>
      </div>
      
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="odby">Order By</label>
        <select  class="custom-select odby"  id="orderby"  name="odby">
          <option value="1" selected>Price asc</option>
          <option value="2">Price desc</option>
          <option value="3">Sqft asc</option>
          <option value="4">Sqft desc</option>
        </select>
        <small style ="padding-bottom: 5.5%;"class="form-text text-muted">
          
        </small>
      </div>
      <div class="form-group col-md-4">
        <label for="bed">Bedroom</label>
        <input type="number" class="form-control bed" id="bed" min="1" max="99" name="bed" >
        <small id="bedHelpBlock" class="form-text text-muted">
          Will get ignored if address or radius is empty
        </small>
      </div>
      <div class="form-group col-md-4">
        <label for="bath">Bathroom</label>
        <input type="number" class="form-control bath" id="bath" min="1" max="99" name="bath" >
        <small id="bathHelpBlock" class="form-text text-muted">
          Will get ignored if address or radius is empty
        </small>
      </div>
      
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-info">Search</button>
      </div>
      <div class="form-group col-md-6">
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </div>
    
  </form>
  
</div>
<br>
<div class="results">

  <!--search result-->
  

    <!--result titile-->
    <div class="row">
      <h2>Search Results</h2>
    </div>

    <!--result list-->
   <ol>
      {% for d in data %}
      {% if d.status=='Active' %}      
        
          
            <div class="row lirow">
              <li>          
              <label class="container-h" for="geo{{loop.index}}">
                <b class="ih" >{{d.propertyType}}: &nbsp; {{d.bathrooms}}baths &nbsp; {{d.bedrooms}}beds &nbsp; {{d.squareFootage}}sqft &nbsp; ${{d.price}} &nbsp; {{d.bedrooms}}beds &nbsp; {{d.daysOnMarket}}&nbsp; days on market </b>
                <small class="ih" > (Address: {{d.rawAddress}})</small>
                <input class="ih check-item" type="checkbox" name="geodata" value="{{d}}" id = "geo{{loop.index}}">
              </label>
              </li>
             </div>
         
        
      {% endif %}
      {% endfor %}
    </ol>
  </div>

<br>
  <!--map-->
<div class="results">
  <div class="flex-container-h row">

    <!--map input-->
   
  
        <label class="flex-h " for="addrm" >Starting Address:</label>
        <input type="text" class=" flex-h addrm " id="addrm"  placeholder ="1900 SW 4th AVE, Portland OR"  name="addrm"> 
        
        <button type="submit" class="btn btn-success btnm flex-h  " id ="mapbtn">Add Start and Destinations</button>
        
       
        
  </div>
   <!--map error-->
   <div class="row err"><span id="errmap"></span></div>
    <!--google map-->
    <div class="row">

      
       <ul id ="output">
       </ul>
       <h3><a id="urla"  target="_blank">Show Routes</a></h3>
       
     
    </div>
    
    
  </div>





<script type="text/javascript">


//zipcode API
// get city and state by zip
	$(function() {
    // IMPORTANT: Fill in your client key
    
		var clientKey = "js-IZ0pt4DP5uk3xRvsCQfK6DLZHf6T4h96d531QBqHilLOO6Frgjk3kcS3BDLNaUxO";
		
		var cache = {};
		var container = $("#form1");
		var errorDiv = container.find("div.text-error");
		
		/** Handle successful response */
		function handleResp(data)
		{
			// Check for error
			if (data.error_msg)
				errorDiv.text(data.error_msg);
			else if ("city" in data)
			{
				// Set city and state
				container.find("input[name='city']").val(data.city);
				container.find("input[name='state']").val(data.state);
			}
		}
		
		// Set up event handlers
		container.find("input[name='zip']").on("keyup change", function() {
			// Get zip code
			var zip = $(this).val().substring(0, 5);
			if (zip.length == 5 && /^[0-9]+$/.test(zip))
			{
				// Clear error
				errorDiv.empty();
				
				// Check cache
				if (zip in cache)
				{
					handleResp(cache[zip]);
				}
				else
				{
					// Build url
					var url = "http://www.zipcodeapi.com/rest/"+clientKey+"/info.json/" + zip + "/radians";
					
					// Make AJAX request
					$.ajax({
						"url": url,
						"dataType": "json"
					}).done(function(data) {
						handleResp(data);
						
						// Store in cache
						cache[zip] = data;
					}).fail(function(data) {
						if (data.responseText && (json = $.parseJSON(data.responseText)))
						{
							// Store in cache
							cache[zip] = json;
							
							// Check for error
							if (json.error_msg)
								errorDiv.text(json.error_msg);
						}
						else
							errorDiv.text('Request failed.');
					});
				}
			}
		}).trigger("change");
  });
  

  let selectedlocations =[];
  let dests =[];
  let origins =[];
  let sortdests =[];
  
  let markersArray = [];
  
  function initMap() {

    var bounds = new google.maps.LatLngBounds;
       var geocoder = new google.maps.Geocoder();
       var service = new google.maps.DistanceMatrixService;
      // directionsRenderer.setMap(map);

        document.getElementById('mapbtn').addEventListener('click', function() {
          if (prepareData()){
            
            
           
            var adds= [document.getElementById('addrm').value.trim()];
           
           
              disMaxtrix(service,  adds, dests, bounds)
              


          }
          
        });
      }
    
      function prepareData(){
           selectedlocations =[];
           dests =[]
           origins =[];
           sortdests =[];
          var valid = true;
          var checkedValue = document.querySelectorAll('.check-item:checked');
          var errmap = document.getElementById('errmap');
          errmap.innerHTML = "";
        
          //console.log(checkedValue)
        if (checkedValue.length >0 && checkedValue.length<9){
          for(var i=0; checkedValue[i]; ++i){
            var checkeddata = JSON.parse(checkedValue[i].value.replace(/'/g, '"').replace('None', 'null'));
            selectedlocations[i]= checkeddata;
            dests[i]= checkeddata.rawAddress;
            }
        }else{
            valid = false;
            

        }
          var start = document.getElementById('addrm');
          //console.log(start.value)
          if(start == null){
            valid = false;
          }else{
            if(start.value.trim().length == 0 ){

              valid = false;
            }

          }

          if (!valid){
           
            errmap.innerHTML = "Please make sure you added one start and 1-8 destinations"

          }
          return valid;
          
        }
      
      function deleteMarkers(markersArray) {
        for (var i = 0; i < markersArray.length; i++) {
          markersArray[i].setMap(null);
        }
        markersArray = [];
      }


      

      //https://developers.google.com/maps/documentation/javascript/examples/distance-matrix
      function disMaxtrix( service,  origins, dests, bounds){

       
       // console.log(dests);
        //console.log(origins);
        service.getDistanceMatrix({
          origins: origins,
          destinations: dests,
          travelMode: 'DRIVING',
          unitSystem: google.maps.UnitSystem.METRIC,
          avoidHighways: false,
          avoidTolls: false
        }, function(response, status) {
          if (status !== 'OK') {
            alert('Error was: ' + status);
          } else {
            var originList = response.originAddresses;
            var destinationList = response.destinationAddresses;
            var outputDiv = document.getElementById('output');
            outputDiv.innerHTML = '';
            deleteMarkers(markersArray);
           


            //sort based on distances
            let result = response.rows[0].elements;
                  for(var i = 0; i < destinationList.length; i++){
                    let add=[destinationList[i], parseFloat(result[i].distance.text)];
                    sortdests.push(add);
                    //newdests.push(add);
                  };
                  sortdests.sort(function(first, second) {
                        return first[1] - second[1];
                        });
                
          let waypts = "";
          for (var i = 0; i < sortdests.length-1; i++) {
          
             waypts+=sortdests[i][0]+"|";
          }

          waypts = waypts.slice(0, -1); 

          let last = sortdests[sortdests.length-1][0];


            
            for (var i = 0; i < originList.length; i++) {
              var results = response.rows[i].elements;
              
              outputDiv.innerHTML += "<li>Starting: <b id='start'>"+originList[i]+ "</b></li>"
              for (var j = 0; j < sortdests.length; j++) {
              
                   outputDiv.innerHTML += "<li>Destinations"+j+": <b class='dests'>"+sortdests[j][0]+ "</b> ( " + sortdests[j][1]  +" km)</li>";
                   

              }
              let origin=originList[i]

              let url = "https://www.google.com/maps/dir/?api=1&origin="+origin+"&destination="+last+"&waypoints="+waypts+"&travelmode=driving";
              url.replace(' ',"+").replace(',','%2C').replace('|','%7C');
              console.log(url);
              
              
              let urlh3= document.getElementById('urla');
              urlh3.href = url;

            }
         }
        });


      

      }

      //https://developers.google.com/maps/documentation/javascript/examples/directions-waypoints
      
      
      function initMap2() {
        var directionsService = new google.maps.DirectionsService;
        var directionsRenderer = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 45.52345, lng: -122.67621}//
        });
        directionsRenderer.setMap(map);
        console.log("here");
        document.getElementById('rtbtn').addEventListener('click', function() {

              var start = document.getElementById('start');
              var alldests = document.querySelectorAll('.dests');
              console.log("clicked");
              console.log(start.textContent)
              if(start.length >0 && alldests.length>0){
                let o = [start.textContent]
                console.log(o)
                
                calculateAndDisplayRoute(directionsService, directionsRenderer);

              }else
              {
                document.getElementById('errmap').innerHTML = "No start or destinations for routes";

              }
          
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsRenderer,sortdests,origins) {
        var waypts = [];
        for (var i = 0; i < sortdests.length-1; i++) {
         
            waypts.push({
              location: sortdests[i].textContent,
              stopover: true
            });
        
        }

        console.log(origins);
        console.log(waypts);
        console.log(sortdests[sortdests.length-1].textContent);

        directionsService.route({
          origin: origins[0],
          destination: sortdests[sortdests.length-1].textContent,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsRenderer.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }




   


</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqtGnBhp7dsOKviCTt4Z5Gku0QtZgTis&callback=initMap"></script>



</body>

